* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding-top: 64px;
}

/* HEADER */
header {
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: white;
  background: linear-gradient(to right, #000000, #d32f2f, #000000, #d32f2f, #000000);
}

header p {
  font-size: 1rem;
  color: #ffffff;
  font-family: Bookman, URW Bookman L, serif;
}

/* NAVEGADOR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #000000, #d32f2f, #000000, #d32f2f, #000000);
  padding: 5px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.nav-direita {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}

.nav-direita a {
  color: #ffffffb0;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1rem;
}

.nav-direita a:hover {
  color: #ffffff;
}

.nav-esquerda,
.nav-center,
.nav-direita {
  display: flex;
  align-items: center;
}

.nav-centro h1 {
  font-size: 1.8rem;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

/*PESQUISAR*/
#campoBusca {
  padding: 6px 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 150px;
  transition: 0.3s;
}

#campoBusca:focus {
  width: 200px;
}

#sugestoes {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #BA181B;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  color: white;
}

.sugestao {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.sugestao:hover {
  background: #f0f0f0;
}

.busca-container {
  position: relative;
  margin: 10px;
}

.busca-mobile {
  display: none;
}

label {
  display: block;
  margin-top: 15px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

textarea {
  height: 120px;
}

/* MODO CLARO E ESCURO */
.sol {
  margin: 10px 0 0 0;
  cursor: pointer;
  transition: 0.3s;
}

.sol:hover {
  transform: scale(1.10);
}

.lua {
  margin: 10px 0 0 0;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

.lua:hover {
  transform: scale(1.10);
}

/* HAMBURGUER */
.hamburguer {
  width: 35px;
  height: auto;
  cursor: pointer;
  display: block;
  background: transparent;
  border: none;
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  left: auto;
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  z-index: 9999;
}

.dropdown-content.ativo {
  display: block;
}

.dropdown-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-content li {
  padding: 5px 18px;
}

.dropdown-content li:hover {
  background: #aa0e0e;
}

.dropdown-content li a {
  display: flex;
  text-decoration: none;
  color: #BA181B;
}

.dropdown-content li a:hover {
  color: #ffffff;
}

/* CARROSSEL */
.carrossel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}

.text h2 {
  font-size: 28px;
  margin: 0;
  color: #ffffff;
}

.text p {
  font-size: 16px;
}

.btn-direita {
  right: 10px;
}

.btn-esquerda {
  left: 10px;
}

.btn-esquerda,
.btn-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 2px none;
}

.btn-direita:hover,
.btn-esquerda:hover {
  background-color: #d8021e62;
}

button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* NOTÍCIAS */
.container {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.noticia {
  position: relative;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
}

.noticia:hover {
  transform: scale(1.02);
}

.conteudo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.conteudo h2 {
  color: #BA181B;
  font-size: 18px;
  margin: 10px 0;

}

.conteudo p {
  color: #444;
  font-size: 15px;
  line-height: 1.5;
  font-family: Bookman, URW Bookman L, serif;
}

.data {
  color: #777;
  font-size: 13px;
}

/* FAVORITOS */
.favorito {
  position: absolute;
  top: 15px;
  right: 15px;

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 999;
}

.favorito:hover {
  background: transparent;
  border: none;
}

.favorito.ativo i {
  color: red;
}

.favorito i {
  font-size: 24px;
  color: #bdbdbd;
  transition: 0.3s;
}

.favorito:hover i {
  transform: scale(1.15);
}

/* #toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity .3s;
  z-index: 9999;
}

#toast.show {
  opacity: 1;
} */

/* JANELA DAS PÁGINAS */
.paginas {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  text-align: center;
  margin: 35px;
}

.paginas a {
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  border: 1px solid #751e1e;
  border-radius: 20px;
}

.paginas a.active {
  border: 1px solid #751e1e;
  background-color: red;
  color: #f4f4f4;
  font-weight: bold;
}

.paginas a:hover {
  border-color: red;
  color: #751e1e;
  border: 1px solid #751e1e;
}

.active-branco {
  background-color: #f4f4f4;
}

/* FOOTER */
footer {
  color: white;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to right, #000000, #d32f2f, #000000, #d32f2f, #000000);
}

footer p {
  font-family: Arial, sans-serif;
}

/* TEXTO */
h1 {
  margin: 0;
  text-align: center;
  color: #C71F37;
  padding: 20px;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 25px;
}

/* IMAGEM */
/* modo claro e escuro */
.sol img {
  max-width: 25px;
}

.lua img {
  max-width: 20px;
}

/* logo */
.nav-esquerda img.logo {
  height: 50px;
  width: auto;
}

/* carrossel */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

/* notícia */
.noticia img {
  height: 188px;
  object-fit: cover;
}

/* hamburguer */
img.hamburguer {
  height: auto;
}

/* BOTÕES*/
button {
  background-color: #C71F37;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  border: 2px solid rgb(95, 44, 44);
}

button:hover {
  background-color: #E01E37;
}


/* MOBILE */
@media (max-width: 768px) {

  /* NAVEGADOR */
  .nav {
    flex-direction: column;
    gap: 5px;
  }

  .nav-direita {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-top: -50px;
    text-align: center;
  }

  /* PESQUISAR */
  /* esconde a busca do cabeçalho */
  .nav-direita .busca-container {
    display: none;
  }

  .busca-mobile {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: white;
  }

  .busca-mobile .busca-container {
    margin: 0;
  }

  .busca-mobile #campoBuscaMobile {
    width: 250px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
  }

  /* BANNER */
  .button-banner {
    position: absolute;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text h2 {
    margin: 10px;
    margin-top: -20%;
  }

  .text button {
    margin-top: 30px;
  }

  .btn-esquerda,
  .btn-direita {
    top: 85%;
    padding: 2px;
  }

  /* NOTÍCIAS */
  .noticia {
    flex-direction: column;
    width: 250px;
    margin: 30px auto;
  }

  .conteudo h2 {
    font-size: 16px;
  }

  .conteudo p {
    font-size: 14px;
  }

    /* FOOTER */
  footer {
    padding: 10px 5px;
    margin-top: 5px;
  }

  footer p {
    font-size: 0.8rem;
  }

  /* BOTÕES */
  button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}