
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #222;
    line-height: 1.7;
}


/* NAVEGADOR*/

.nav {
    background: linear-gradient(to right, #000, #d32f2f, #000);
    color: white;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 50px;  
    width: auto;
    display: block;
}

.fav{
    position: absolute;
    top: 15px;
    right: 15px;

    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 999;
}

.fav:hover{
    background: transparent;
    border: none;
}

.fav i{
    font-size:30px;
    color:#bdbdbd;
    transition:0.3s;
}

.fav:hover i{
    transform:scale(1.15);
}

/* LAYOUT */

.layout {

    max-width: 1400px;

    margin: 40px auto;

    display: grid;

    grid-template-columns: 2.3fr 1fr;

    gap: 35px;

    padding: 0 20px;
    
}

/* CONTEUDO */

.conteudo {

    background: white;

    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 5px 18px rgba(0, 0, 0, .08);

    transform: translateX(200px);
}

/* META */

.meta {

    display: flex;

    gap: 15px;

    flex-wrap: wrap;

    color: #777;

    font-size: 14px;

    margin-bottom: 20px;
}

.cat {

    color: #d32f2f;

    font-weight: bold;

    text-transform: uppercase;
}

/* HERO DA NOTICIA */

.hero-noticia{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 20px;
}

.hero-texto{
     width: 52%;
}

.hero-imagem{
    flex: 1;
}

.hero-imagem img {

    width: 100%;

    max-width: 500px;

    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);

    transition: .4s;

}

.hero-imagem img:hover {

    transform: scale(1.05);

}
.linha-fina{
    max-width: 700px;
    font-size: 22px;
    color: #555;
    margin-bottom: 35px;
}
/* TITULO */

.conteudo h1 {

    font-size: 44px;

    line-height: 1.2;

    margin-bottom: 20px;
}

/* RESUMO */

.resumo {

    background: #fff5f5;

    border-left: 6px solid #d32f2f;

    padding: 25px;

    margin: 40px 0;

    border-radius: 8px;
}

.resumo h3 {

    color: #d32f2f;

    margin-bottom: 15px;
}

.resumo ul {

    margin-left: 20px;
}

.resumo li {

    margin-bottom: 10px;
}

/* TEXTO */

.conteudo h2 {

    margin-top: 45px;

    margin-bottom: 18px;

    color: #d32f2f;

    font-size: 30px;
}

.conteudo p {

    margin-bottom: 20px;

    text-align: justify;

    font-size: 18px;
}

.conteudo ul {

    margin-left: 22px;

    margin-bottom: 20px;
}

.conteudo li {

    margin-bottom: 10px;

    font-size: 18px;
}

/* SIDEBAR */

.sidebar {

    background: white;

    padding: 25px;

    border-radius: 12px;

    height: fit-content;

    position: sticky;

    top: 95px;

    box-shadow: 0 5px 18px rgba(0, 0, 0, .08);

     transform: translateX(200px);

}

.sidebar h3 {

    color: #d32f2f;

    margin-bottom: 20px;

    font-size: 24px;
}

/* CARDS */

.card {

    padding: 18px;

    margin-bottom: 15px;

    border-radius: 10px;

    background: #fafafa;

    border: 1px solid #ececec;

    cursor: pointer;

    transition: .3s;
}

.card:hover {

    background: #d32f2f;

    color: white;

    transform: translateY(-3px);
}
.fim-noticia{

text-align:center;

padding:40px;

background:white;

box-shadow: 0 5px 18px rgba(0, 0, 0, .08);

border-radius: 12px;

max-width:1100px;

margin:40px auto;

transform: translateX(200px);
}
/* perfil */
.perfil{
    background: transparent;
    border: none;
    cursor: pointer;
}

.perfil img{
    width: 30px;
    height: 30px;
    transition: .3s;
}

.perfil:hover img{
    transform: scale(1.1);
}
/* favorito */
.favorito2 i{
    margin-right: 10px;
}
.favorito2{

background:#fff;

color:#d32f2f;

border:2px solid #d32f2f;

padding:10px 18px;

border-radius:30px;

font-weight:bold;

transition:.3s;

}

.favorito2:hover{

background:#d32f2f;

color:white;

}

.alerta{

display:flex;

gap:20px;

background:#fff3f3;

border-left:8px solid #d32f2f;

padding:25px;

margin:35px auto;

max-width:1100px;

border-radius:15px;

}

.alerta i{

font-size:35px;

color:#d32f2f;

}
/* Coração vermelho */

.fav.ativo i,
.favorito2.ativo i{
    color: #e53935;
}

.favorito2.ativo{
    background: #d32f2f;
    color: white;
}

/* Mensagem */

.toast{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.8);

    background: rgba(0,0,0,.85);
    color: white;

    padding: 15px 30px;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    opacity: 0;
    visibility: hidden;

    transition: .3s;
    z-index: 9999;
}

.toast.show{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}


/* RESPONSIVO */

@media(max-width:1000px) {

    .layout {

        grid-template-columns: 1fr;

    }

    .sidebar {

        position: relative;

        top: 0;

        margin-top: 20px;

    }

}

@media(max-width:768px) {

    .nav {

        padding: 0 20px;

    }

    .logo {

        font-size: 22px;

    }

    .conteudo {

        padding: 25px;

    }

    .conteudo h1 {

        font-size: 34px;

    }

    .linha-fina {

        font-size: 18px;

    }

    .conteudo h2 {

        font-size: 26px;

    }

    .conteudo p,
    .conteudo li {

        font-size: 17px;

    }

}

@media(max-width:500px) {

    .conteudo h1 {

        font-size: 28px;

    }

    .linha-fina {

        font-size: 17px;

    }

    .meta {

        font-size: 13px;

        gap: 8px;

    }

}