body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding-top: 64px;
}

header {
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: white;
  background: linear-gradient(to right, #000000, #d32f2f, #000000, #d32f2f, #000000);
}

.container {
  display: grid;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

label {
  display: block;
  margin-top: 15px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

textarea {
  height: 120px;
}

/* NAVEGADOR */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #000000, #d32f2f, #000000, #d32f2f, #000000);
  padding: 5px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.nav-esquerda,
.nav-center,
.nav-direita {
  display: flex;
  align-items: center;
}

.nav-centro {
  justify-content: center;
}

.nav-direita {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}

.nav-direita a {
  color: #ffffffb0;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1rem;
}

.nav-direita a:hover {
  color: #ffffff;
}

/* IMAGEM */
/* logo */
.nav-esquerda img.logo {
  height: 50px;
  width: auto;
}

/* banner */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%)
}

/* imagem da notícia */
.noticia img {
  height: 188px;
  object-fit: cover;
}

/*PESQUISAR*/
#campoBusca {
  padding: 6px 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 150px;
  transition: 0.3s;
}

#campoBusca:focus {
  width: 200px;
}

#sugestoes {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #BA181B;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  color: white;
}

.sugestao {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.sugestao:hover {
  background: #f0f0f0;
}

.busca-container {
  position: relative;
  margin: 10px;
}

.busca-mobile {
  display: none;
}

/* HAMBURGUER */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  right: -35px;
  background-color: #fff;
  min-width: 250px; 
  box-shadow: 0 8px 16px #ca3e40;
  border-radius: 8px;
  padding: 10px 0;
  z-index: 1000;
}
.dropdown-content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-content li{
    padding: 5px 18px;
}

.dropdown-content li a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #BA181B;
    
}

.dropdown-content li:hover{
    background: #BA181B;
}

.hamburguer{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.dropdown-content{
    display: none;
}
.dropdown-content.ativo{
    display: block;
}
img.hamburguer{
  height: auto;
}


/* aberto */
.menu-links {
  display: none;
  position: absolute;
  top: 80px;
  right: 10px;
  background: #BA181B;
  padding: 10px;
  border-radius: 10px;
}

/* escondido */
.menu-links.active {
  display: block;
}

.menu-links a {
  display: block;
  margin: 8px 0;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.menu-links a:hover {
  color: #ff4d4d;
}

/* CARROSSEL */
.carrossel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

/* NOTÍCIAS */
.noticia {
  position: relative;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
}

.noticia:hover {
  transform: scale(1.02);
}

.conteudo {
  padding: 15px;
  margin: 0;
}

/* TEXTOS */
.conteudo h2 {
  color: #BA181B;
  font-size: 18px;
  margin: 10px 0;

}

.conteudo p {
  color: #444;
  font-size: 15px;
  line-height: 1.5;
  font-family: Bookman, URW Bookman L, serif;
}

h1 {
  margin: 0;
  text-align: center;
  color: #C71F37;
  padding: 20px;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 25px;
}

.data {
  color: #777;
  font-size: 13px;
}

footer p {
  font-family: Arial, sans-serif;
}

header p {
  font-size: 1rem;
  color: #ffffff;
  font-family: Bookman, URW Bookman L, serif;
}

.text h2 {
  font-size: 28px;
  margin: 0;
  color: #ffffff;
}

.text p {
  font-size: 16px;
}

.nav-centro h1 {
  font-size: 1.8rem;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}
/* ICONE SALVOS*/
.favorito{
    position: absolute;
    top: 15px;
    right: 15px;

    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 999;
}

.favorito:hover{
    background: transparent;
    border: none;
}
.favorito.ativo i{
    color: red;
}
.favorito i{
    font-size:24px;
    color:#bdbdbd;
    transition:0.3s;
}

.favorito:hover i{
    transform:scale(1.15);
}
#toast{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity .3s;
    z-index: 9999;
}

#toast.show{
    opacity: 1;
}
/* BOTÕES*/
button {
  background-color: #C71F37;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  border: 2px solid rgb(95, 44, 44);
}

button:hover {
  background-color: #E01E37;
}

.botao-fixo {
  position: fixed;
  right: 10px;
  bottom: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
}

form button {
  width: 102%;
  margin-top: 10px;
}

/* carrossel */
.btn-esquerda,
.btn-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: 2px none;
}

.btn-direita:hover,
.btn-esquerda:hover {
  background-color: #d8021e62;
}

.btn-direita {
  right: 10px;
}

.btn-esquerda {
  left: 10px;
}

/* ícones */
button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* FOOTER */
footer {
  color: white;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
  background: linear-gradient(to right, #000000, #d32f2f, #000000, #d32f2f, #000000);
}

/* FORMULÁRIO */
form {
  width: 94%;
  flex-direction: column;
  padding: 30px;
  display: flex;
  justify-content: center;
}

/* PÁGINAS */
.paginas {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  text-align: center;
  margin: 35px;
}

.paginas a {
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  border: 1px solid #751e1e;
  /* 👈 borda em cada número */
  border-radius: 20px;
}

.paginas a.active {
  border: 1px solid #751e1e;
  background-color: red;
  color: #f4f4f4;
  font-weight: bold;
}

.paginas a:hover {
  border-color: red;
  color: #751e1e;
  border: 1px solid #751e1e;
}

.active-branco {
  background-color: #f4f4f4;
}

/* BONEQUINHO DO CADASTRO */
.cadastro {
  position: relative;
  left: 20px;
  top: 3px;
}

.bonequinho {
  right: 0;
  bottom: 0;
  width: 35px;
  cursor: pointer;
}

/* CADASTRO */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* VÍDEO DE FUNDO */
#bg-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}




/* MOBILE */
@media (max-width: 768px) {

  /* NAVEGADOR */
  .nav {
    flex-direction: column;
    gap: 5px;
  }

  .nav-direita {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-top: -50px;
    text-align: center;
  }

  /* Esconde a busca do cabeçalho */
  .nav-direita .busca-container {
    display: none;
  }

  .busca-mobile {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: white;
  }

  .busca-mobile .busca-container {
    margin: 0;
  }

  .busca-mobile #campoBuscaMobile {
    width: 250px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
  }

  /* NOTÍCIAS */
  .noticia {
    flex-direction: column;
    width: 250px;
    margin: 30px auto;
  }

  .conteudo h2 {
    font-size: 16px;
  }

  .conteudo p {
    font-size: 14px;
  }

  /* BOTÕES */
  .button-banner {
    position: absolute;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text button {
    margin-top: 30px;
  }

  .btn-esquerda,
  .btn-direita {
    top: 85%;
    padding: 2px;
  }

  button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  /* TEXTOS */
  .text h2 {
    margin: 10px;
    margin-top: -20%;
  }

  /* FORMULÁRIO / COMENTÁRIOS */
  /* .contato,
  .contatos {
    max-width: 95%;
    margin: 20px auto;
    padding: 15px;
  }

  input,
  textarea {
    padding: 8px;
    font-size: 14px;
  }

  form {
    width: 100%;
    padding: 0;
    margin-top: 15px;
  }

  form button {
    width: 100%;
  }

  #listaComentarios {
    width: 95%;
    margin: 15px auto;
  } */

  /* FOOTER */
  footer {
    padding: 10px 5px;
    margin-top: 5px;
  }

  footer p {
    font-size: 0.8rem;
  }

  /* COMENTÁRIOS */
  body.dark #comentarios {
    background-color: #1b1a1a;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }

  body.dark #listaComentarios .comentario:hover {
    background: #2a2a2a;
  }

  #form input,
  #form textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', sans-serif;
    transition: border 0.3s, box-shadow 0.3s;
    resize: none;
  }

  /* MENU */
  .menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background: rgba(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 10px;
  }

  .menu-links.active {
    display: flex;
  }

  .mobile-menu-btn {
    display: block;
    right: 20px;
    top: 20px;
  }
}





















body.dark {
  background-color: #000000;
  color: #ffffff;
}

body.dark .noticia {
  background-color: #1b1a1a;
  color: #C71F37;
  color: #ffffff;
}

body.dark p {
  color: #ffffff;
}

body.dark h2 {
  color: #C71F37;
}

body.dark #form {
  background-color: #000000;
  color: #ffffff;
}

body.dark section {
  background-color: #1b1a1a;
  color: #ffffff;
}

body.dark section a {
  color: #ffffff;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.dark #listaComentarios p {
  color: #ffffff;
}

/* MODO ESCURO */
body.dark {
  background-color: #000000;
  color: #ffffff;
}

body.dark .noticia {
  background-color: #1b1a1a;
  color: #C71F37;
  color: #ffffff;
}

body.dark p {
  color: #ffffff;
}

body.dark h2 {
  color: #C71F37;
}

body.dark .text h2 {
  color: white;
}

body.dark #form {
  background-color: #000000;
  color: #ffffff;
}

body.dark section {
  background-color: #1b1a1a;
  color: #ffffff;
}

body.dark section a {
  color: #ffffff;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.dark #listaComentarios p {
  color: #ffffff;
}

body.dark #comentarios {
  background-color: #1b1a1a;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

body.dark #listaComentarios .comentario:hover {
  background-color: #2a2a2a;
}

#form input,
#form textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  font-family: 'Segoe UI', sans-serif;
  transition: border 0.3s, box-shadow 0.3s;
  resize: none;
}